{% block content %}


<table width="50%" float="left">


    {% if user.userprofile.bio != "" %}
    <tr>
        <td><h5>Bio:</h5></td>
        <td><p>{{ user.userprofile.bio }}</p></td>
    </tr>
    {% endif %}

    {% if user.userprofile.real_name != "" %}
    <tr width="25%">
        <td><h5>Name:</h5></td>
        <td><p>{{ user.userprofile.real_name }}</p></td>
    </tr>
    {% endif %}
    
    {% if user.userprofile.institution != "" %}
    <tr width="25%" float="left">
        <td><h5>Company / Institution: </h5></td>
        <td>{{ user.userprofile.institution }}</td>
    </tr>
    {% endif %}

</table>

{% endblock %}