{% extends "rest_framework/base.html" %}

{% block title %}QuantMark2 comparison {{ result.id }}{% endblock %}

{% block style %}
{{ block.super }}

{% endblock %}

{% block content %}
<div id=arrays data="{{ data }}"></div>
<div id=equivalent data={{equivalent}}></div>
<div class="starter-template">
    <h1>Experiment comparison:</h1>
    <div>
        <div style="width: 60%; float: left; margin: 0%">
            <div id="chart_compare_energy_distance"></div>
        </div>
        {% if equivalent == "true" %}
        <div style="width: 40%; float: left; margin: 0%">
            <div id="chart_error_vs_depth"></div>
        </div>
        {% else %}
        <p>Error vs gate depth graph not available results have different basis sets.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'controls', 'line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        drawEnergyDistanceChart()
        if ($('#equivalent').attr('data')) {
            drawErrorVsDepthChart()
        }
    };

    // ' -> " for JSON.parse to work.
    const obj = $('#arrays').attr('data').replace(/'/g, '"');
    const dataArray = JSON.parse(obj);

    var ids = dataArray[0];
    var basisSet = dataArray[1];
    var names = dataArray[2];
    var energies = dataArray[3];
    var distances = dataArray[4];
    var fciDistances = dataArray[5];
    var fciEnergies = dataArray[6];
    var groundTruth = dataArray[7];
    var experimentTruth = dataArray[8];
    var experimentApprox = dataArray[9];
    var depths = dataArray[10];
    var minEnergies = dataArray[11];

    function drawEnergyDistanceChart() {
        const n = names.length

        var data = new google.visualization.DataTable({
            cols: [ { id: 'distance', label: 'Distance', type: 'number' },
                    { id: 'fci', 'label': 'FCI def2-QZVPPD', type: 'number'} ]
        });

        for (i = 0; i < n; i++) {
            label = names[i]
            id = ids[i]
            data.addColumn( {id: `energy_${id}`, label: label, type: 'number'} )
        }

        // Add FCI values
        for (i = 0; i < fciDistances.length; i++) {
            var row = Array(n + 2).fill(NaN)
            row[0] = fciDistances[i]
            row[1] = fciEnergies[i]
            data.addRow(row)
        }

        // Add results
        for (i = 0; i < names.length; i++) {
            for (j = 0; j < distances[i].length; j++) {
                var row = Array(n + 2).fill(NaN)
                row[0] = distances[i][j]
                row[i + 2] = energies[i][j]
                data.addRow(row)
            }
        }

        var chart = new google.visualization.ChartWrapper({
            'chartType': 'LineChart',
            dataTable: data,
            'containerId': 'chart_compare_energy_distance',
            'options': {
                'width': '100%',
                height: 500,
                pointsVisible: true,
                title: 'Calculated energy against distance',
                legend: { position: 'right' },
                hAxis: { title: 'Distance', id: 'distance', type: 'number' },
                vAxis: { title: 'Energy', id: 'energy', type: 'number' },
                explorer: {
                keepInBounds: true,
                maxZoomIn: 0.05
                },
            }
        });

        chart.draw();
    };

    function drawErrorVsDepthChart() {
        const n = names.length
        const truthError = experimentTruth - groundTruth
        const approxError = experimentApprox - groundTruth
        const energyErrors = minEnergies.map(elem => elem - groundTruth)

        var data = new google.visualization.DataTable({
            cols: [ { id: 'error', label: 'Error from "ground truth"', type: 'number'},
                    { id: 'depth', label: 'Results', type: 'number'},
                    { id: 'name', type: 'string', role: 'tooltip'},
                    { id: 'fci', label: 'FCI', type: 'number'},
                    { id: 'hf', label: 'Hartree-Fock', type: 'number'} ]
        })

        // Add scatter points
        for (i = 0; i < n; i++) {
            data.addRow([energyErrors[i], depths[i], names[i], null, null])
        }

        // Add FCI line
        FCITicks = [0, Math.max(...depths)*2]
        FCITicks.forEach(elem => {
            data.addRow([truthError, null, null, elem, null])
        });

        // Add HF line
        HFTicks = [0, Math.max(...depths)*2]
        HFTicks.forEach(elem => {
            data.addRow([approxError, null, null, null, elem])
        });

        var chart = new google.visualization.ChartWrapper({
            'chartType': 'ComboChart',
            dataTable: data,
            'containerId': 'chart_error_vs_depth',
            'options': {
                'width': '100%',
                height: 500,
                seriesType: 'scatter',
                series: {
                    1: {
                        color: 'green',
                        type: 'line'
                    },
                    2: {
                        color: 'red',
                        type: 'line'
                    }
                },
                title: 'Error vs gate depth, FCI and HF with: '.concat(basisSet),
                legend: { position: 'bottom' },
                hAxis: { title: 'Error from ground truth', id: 'error', type: 'number' },
                vAxis: { title: 'Fermionic depth', id: 'depth', type: 'number' },
                explorer: {
                keepInBounds: false,
                maxZoomIn: 0.05
                },
            }
        })

        chart.draw();
    }

</script>
{% endblock %}