{% extends "rest_framework/base.html" %}

{% block title %}QuantMark2 LeaderBoard{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
  .clickable-row {
    cursor: pointer;
  }

  .clickable-row:hover {
    background-color: #eeeeee;
  }
</style>
{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>QuantMark2 LeaderBoard</h1>
  <a href="{{ path_prefix }}/api/"> API </a>
  <table width="100%">
    <thead>
      <th>Batch id</th>
      <th>Date</th>
    </thead>
    {% for result in results %}
    <tr class='clickable-row' data-href='/qleader/api/{{ result.id }}'>
      <td>{{result.id}} {{ path_prefix }}/api/{{ result.id }}</td>
      <td>{{ result.created|date:"Y-m-d H:i" }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script>
  $(document).ready(function ($) {
    $(".clickable-row").click(function () {
      console.log($(this).data("href"))
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}