{% extends "rest_framework/base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
  .clickable-row {
    cursor: pointer;
  }

  .clickable-row:hover {
    background-color: #eeeeee;
  }
</style>
{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>Leaderboards</h1>
  
  <p>
    Leaderboards:
    <a href="{% url 'invoke_leaderboard' criterion='min_energy' %}"> [Minimum energy] </a> 
    <a href="{% url 'invoke_leaderboard' criterion='closest_minimum' %}">[Closest minimum] </a>
    <a href="{% url 'invoke_leaderboard' criterion='smallest_variance' %}">[Smallest variance]</a>
  </p>

  <h2>{{ list_name }}</h2>


  <table width="100%">
    
  </table>
  </br>

  <table width="100%">
    <thead>
      <th>#</th>
      <th>Test ID</th>
      <th>Basis set</th>
      <th>Transformation</th>
      <th>Optimizer</th>
      {% if criterion == "min_energy" %}
        <th>Minimum energy</th>
      {% elif criterion == "closest_minimum" %}
        <th>Minimum difference</th>
      {% endif %}
      <th>Date</th>
    </thead>
    {% for result in results %}
    <tr class='clickable-row' data-href='{{ path_prefix }}/api/{{ result.id }}/'>
      <td>{{ forloop.counter }}</td>
      <td>{{ result.id }}</td>
      <td>{{ result.basis_set }}</td>
      <td>{{ result.transformation }}</td>
      <td>{{ result.optimizer }}</td>
      {% if criterion == "min_energy" %}
        <td>{{ result.min_energy }}</td>
      {% elif criterion == "closest_minimum" %}
        <td>{{ result.min_delta }}</td>
      {% endif %}
      <td>{{ result.created|date:"Y-m-d H:i" }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script>
  $(document).ready(function ($) {
    $(".clickable-row").click(function () {
      console.log($(this).data("href"))
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}