{% extends "rest_framework/base.html" %}

{% block title %}{{ user.username }}'s profile page{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="starter-template">
    <h1>Edit profile</h1>

    <h3>{{ request.user.username }}'s info</h3>

    <form action="/edit_profile/">
        <label for="real_name" style="margin-top:5px">Name:</label><br>
        <input type="text" id="real_name" name="real_name" value="{{ profile.real_name }}"><br>

        <label for="institution" style="margin-top:5px">Company / Institution:</label><br>
        <input type="text" id="institution" name="institution" value="{{ profile.institution }}"><br>

        <label for="bio" style="margin-top:5px">Bio:</label><br>
        <input type="text" id="bio" name="bio" value="{{ profile.bio }}"><br>

        <button type = "submit" class="btn btn-primary" style="margin-top:5px" type="button" onclick="updateProfile()">Update</button>
        <button class="btn btn-warning" style="margin-top:5px" type="button" onclick="updateProfile()">Cancel</button>

    </form>

</div>
{% endblock %}

{{ block.super }}
{% block script %}
<script>

    function updateProfile() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("demo").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", "demo_post.asp", true);
        xhttp.send();
    }

</script>
{% endblock %}